[submodule "PL/web/webProject"]
	path = PL/web/webProject
	url = https://github.com/miermontoto/webProject
[submodule "PL/java/Defensa/Examen/SumaTres"]
	path = PL/java/Defensa/Examen/SumaTres
	url = https://github.com/miermontoto/SumaTres
	branch = defensaCPM
[submodule "PL/java/SumaTres"]
	path = PL/java/SumaTres
	url = https://github.com/miermontoto/SumaTres
