/PL/NetBeansProjects/SumaTres/*
/PL/NetBeansProjects/SumaTres*
/PL/NetBeansProjects/Ejemplo/nbproject/private/
/PL/NetBeansProjects/Ejemplo/build/
/PL/NetBeansProjects/EjemploVariasVentanas/nbproject/private/
/PL/NetBeansProjects/EjemploVariasVentanas/build/
/PL/NetBeansProjects/TestVentanasSlider/nbproject/private/
/PL/NetBeansProjects/TestVentanasSlider/build/
/PL/NetBeansProjects/Mensa5/nbproject/private/
/PL/NetBeansProjects/Mensa5/build/
/PL/NetBeansProjects/Defensa_UO283319/Examen/Mensa5/build/
/PL/NetBeansProjects/Defensa_UO283319/Examen/Mensa5/nbproject/private/
/PL/NetBeansProjects/Defensa_UO283319/Examen/SumaTres/build/
/PL/NetBeansProjects/Defensa_UO283319/Examen/SumaTres/dist/
/PL/NetBeansProjects/Defensa_UO283319/Examen/SumaTres/nbproject/private/
/PL/NetBeansProjects/Examen/Mensa5/build/
/PL/NetBeansProjects/Examen/Mensa5/nbproject/private/
/PL/NetBeansProjects/Examen/SumaTres/build/
/PL/NetBeansProjects/Examen/SumaTres/dist/
/PL/NetBeansProjects/Examen/SumaTres/nbproject/private/
