/PL/NetBeansProjects/SumaTres/*
/PL/NetBeansProjects/SumaTres/
/PL/NetBeansProjects/Ejemplo/nbproject/private/
/PL/NetBeansProjects/Ejemplo/build/
/PL/NetBeansProjects/EjemploVariasVentanas/nbproject/private/
/PL/NetBeansProjects/EjemploVariasVentanas/build/
/PL/NetBeansProjects/TestVentanasSlider/nbproject/private/
/PL/NetBeansProjects/TestVentanasSlider/build/
